.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.app-logo {
  max-width: 90%;
}

.tabs {
  overflow: hidden;
}

.tabs-icon i {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  font-size: 24px;
}

.no-pd {
  padding: 0 !important
}

.hide {
  display: none;
}

.profile-div {
  text-align: right;
}

.profile-div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #ee6e73;
}