<div class="row">
  <div class="col s12 no-pd">
    <ul tabs class="tabs tabs-icon" reload="allTabContentLoaded">
      <li class="tab col s4" ng-click=""><a href="#user-profile"><i class="material-icons">person</i>Profile</a></li>
      <li class="tab col s4"><a class="active" href="#book-slot"><i class="material-icons">event</i>Book</a></li>
      <li class="tab col s4"><a href="#book-history" ng-init="fetchSlotsFromDB()"><i class="material-icons">history</i>History</a></li>
    </ul>
  </div>
  <div id="user-profile" class="col offset-l2 l8 m12 s12">
    <div class="row offset-l2 l8 m12 s12" ng-hide="!userData">
      <h3 class="center">Profile</h3>
      <div class="col offset-l1 l4 m6 s6 profile-div">
        <img src="{{userData.photoURL}}" />
      </div>
      <div class="col offset-l1 l4 m6 s6">
        <blockquote>{{userData.displayName}}</blockquote>
        <blockquote>{{userData.email}}</blockquote>
      </div>
    </div>
    <div class="row offset-l2 l8 m12 s12 center" ng-hide="userData">
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row offset-l2 l8 m12 s12 center" ng-hide="!userData">
      <a class="waves-effect waves-light btn-large red accent-2 half-width" ng-click="logout()">
        Logout 
      </a>
    </div>
  </div>
  <div id="book-slot" class="col offset-l2 l8 m12 s12">
    <br><br>
    <div class="row offset-l2 l8 m12 s12 center">
      <h5 class="center">Book a Slot</h5>
      <div class="col l3 m3 s3">
        <label for="input-date">Date</label>
        <input input-date
            class="center"
            type="text"
            name="created"
            id="input-date"
            ng-model="slotInputs.date"
            container=""
            format="dd/mm/yyyy"
            months-full="{{ month }}"
            months-short="{{ monthShort }}"
            weekdays-full="{{ weekdaysFull }}"
            weekdays-short="{{ weekdaysShort }}"
            weekdays-letter="{{ weekdaysLetter }}"
            disable="disable"
            min="{{ minDate }}"
            max="{{ maxDate }}"
            today="today"
            first-day="1"
            clear="clear"
            close="close"
            select-years="15"
            on-start="onStart()"
            on-render="onRender()"
            on-open="onOpen()"
            on-close="onClose()"
            on-set="onSet()"
            on-stop="onStop()" />
      </div>
      <div class="col l3 m3 s3">
        <label for="input-time">Time</label>
        <input id="input-time" class="center" ng-model="slotInputs.time" input-clock data-twelvehour="true" type="text">
      </div>
      <div class="col l3 m3 s3" >
        <label for="input-slot">Duration</label>
        <select id="input-slot" ng-model="slotInputs.duration" material-select watch>
            <option ng-repeat="value in slotInputs.durations">{{value}}</option>
        </select>
      </div>
      <div class="col l3 m3 s3 center">
        <a class="btn-floating btn-large red" ng-click="bookSlot()">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
    <div class="col offset-l2 offset-m2 l8 m8 s12" ng-show="slots.length > 0">
      <h5 class="center">Your Bookings</h5>
      <ul class="collection">
        <li class="collection-item avatar"
            ng-repeat="slot in slots"
            ng-show="slot.who == fetchUserEmail()">
          <i class="material-icons circle green">insert_chart</i>
          <p>{{getTime(slot.startTime)}} - {{getTime(slot.endTime)}} <b>( {{slot.duration}} Min)</b></p>
          <p>{{getTime(slot.when, true)}} by <b>{{slot.who == fetchUserEmail() ? 'You' : slot.who}}</b></p>
          <div class="fixed-action-btn horizontal secondary-content">
            <a class="btn-floating green">
              <i class="material-icons">more_vert</i>
            </a>
            <ul>
              <li><a class="btn-floating yellow" ng-click="editSlot($index, 'create-config')" ng-show="checkEditable(slot.when)"><i class="material-icons">edit</i></a></li>
              <li><a class="btn-floating red" ng-click="deleteSlot($index)"><i class="material-icons">delete_forever</i></a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="book-history" class="col offset-l2 l8 m12 s12">
    <div class="col offset-l2 offset-m2 l8 m8 s12" ng-show="slots.length > 0">
      <h5 class="center">All Bookings</h5>
      <ul class="collection">
        <li class="collection-item avatar"
            ng-repeat="slot in slots">
          <i class="material-icons circle green">insert_chart</i>
          <p>{{getTime(slot.startTime)}} - {{getTime(slot.endTime)}} <b>( {{slot.duration}} Min)</b></p>
          <p>{{getTime(slot.when, true)}} by <b>{{slot.who == fetchUserEmail() ? 'You' : slot.who}}</b></p>
        </li>
      </ul>
    </div>
  </div>
</div>

