<div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center theme-color">Login </h1>
      <div class="row center">
        <img class="app-logo" src="https://bit.ly/2vmeA94">
      </div>
      <div class="center">
        <div class="row">
          <div class="col offset-l3 l6 m12 s12">
            <a class="waves-effect waves-light btn-large red full-width" ng-click="commonLogin('google')">
              <i class="fa fa-google" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
